@import "tailwindcss";

@font-face {
  font-family: 'Lexend';
  src: url('/fonts/Lexend-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Lexend';
  src: url('/fonts/Lexend-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Lexend';
  src: url('/fonts/Lexend-Medium.ttf') format('truetype');
  font-weight: 500;
}

:root {
  font-family: Lexend, Arial, sans-serif;

  --background-rgb: 23, 23, 23;
  --background: rgb(var(--background-rgb));
  --background-80: rgba(var(--background-rgb), 0.8);

  --foreground-rgb: 255, 255, 255;
  --foreground: rgb(var(--foreground-rgb));
  --foreground-3: rgba(var(--foreground-rgb), 0.03);
  --foreground-5: rgba(var(--foreground-rgb), 0.05);
  --foreground-20: rgba(var(--foreground-rgb), 0.2);
  --foreground-30: rgba(var(--foreground-rgb), 0.3);
  --foreground-50: rgba(var(--foreground-rgb), 0.3);
  --foreground-80: rgba(var(--foreground-rgb), 0.8);
}

body {
  background: var(--background);
  color: var(--foreground);
}

* {
  font-family: Lexend, Arial, sans-serif;
  transition: all 0.15s ease;
}

.bs-container {
  max-width: 1320px;
  width: calc(100vw - 47px);
}

@media (max-width: 1400px) {
  .bs-container {
    max-width: 1140px;
  }
}

@media (max-width: 1200px) {
  .bs-container {
    max-width: 960px;
  }
}

@media (max-width: 992px) {
  .bs-container {
    max-width: 720px;
  }
}

@media (max-width: 768px) {
  .bs-container {
    max-width: 540px;
  }
}

@media (max-width: 576px) {
  .bs-container {
    max-width: 100%;
  }
}
