.article h2 {
  font-weight: 600;
  margin-top: 2em;
  margin-bottom: 0.3em;
  padding-bottom: 0.4em;
  border-bottom: 1px solid var(--foreground-20);
  font-size: 2rem;
  scroll-margin-top: 5.2rem;
}

.article p {
  line-height: 2.5;
  margin-bottom: 1.25em;
}

@media (max-width: 768px) {
  .article h2 {
    font-size: 1.5rem;
  }
}
